body{
    background-image: url("../img/wave.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1{
    text-align: center;
    position: relative; top: 100px;
    color: aliceblue;
}
.section1{
    text-align: left;
    position: relative; top: 300px;
    margin-left: 10%;
    margin-right: 10%;
}
.section2{
    text-align: right;
    position: relative; top: 300px;
    margin-right: 10%;
    margin-left: 10%;
}
h2{
    color:deeppink;
}